h1{
    font-family: 'Times New Roman', serif;
    font-style: normal;
    color:rgb(37, 119, 163); 
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: center;
    color: rgb(19, 19, 18);
}
table{    
    border: 1px solid black;   
    margin: auto;   
}

thead,th{
    border: 1.5px solid black;
    background-color: rgb(168, 109, 14);   
    text-align: center; 
    font-style: normal;
    font-weight: bold;
    
}
td{
    border: 1.5px solid rgb(149, 124, 42);
    align-content: center;    
    background-color: white    
}
h5{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: center;
    color: rgb(49, 136, 133);
    text-align: center;
}